body{
    
  background: #f5f5f5;
}

.headline {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.engaging-section{
    background: #f5f5f5;
}

.engaging-section h2 span {
  color: #a855f7;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  gap: 20px; /* Adds space between the grid items */
  padding: 20px;
}

.engage-card{
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 1rem;
}

.engage-card i {
  color: #a855f7;
  margin-right: 0.5rem;
}

.engage-card strong {
  font-size: 1rem;
  font-weight: 500;
}

.engage-card ul {
  list-style: none;
  padding: 0;
}

.engage-card li {
  margin-bottom: 1.25rem;
  color: #444;
}

.engage-card p{
    font-size: 14px;
    font-weight: 400;
    color: #344054;
}

.mini-card{
    border: 1px solid #D0D5DD;
    padding: 12px;
    border-radius: 1rem;
}
